Learning pandas -- Dataframe and Series

In [2]:
import pandas as pd

Learning about Series in python

In [2]:
#Create series from list
data1 = [1,2,3,4,5]
series_data1 = pd.Series(data1)
print("Index\tData\n",series_data1)

Index	Data
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
#Create series from dictionary

dict_data = {1:"a",2:"b",3:"c"}
series_dict_data = pd.Series(dict_data)
print("Key\tValue\n",series_dict_data)

Key	Value
 1    a
2    b
3    c
dtype: object

In [4]:
data2 = [1,2,3]
index2 = ["a","b","c"]
print(pd.Series(data=data2, index=index2))

a    1
b    2
c    3
dtype: int64

Learn About DataFrame

In [37]:
#Creating a dataframe from dictionary

data = {
    "Name":["Atish","Arik","Bimala","Dinesh"],
    "Age":[21,21,46,52],
    "City":["Kathmandu","Sindhuli","Jhapa","Dhankuta"]
    
}
df = pd.DataFrame(data)
print(df)

     Name  Age       City
0   Atish   21  Kathmandu
1    Arik   21   Sindhuli
2  Bimala   46      Jhapa
3  Dinesh   52   Dhankuta

In [8]:
import numpy as np
print(np.array(df))

[['Atish' 21 'Kathmandu']
 ['Arik' 21 'Sindhuli']
 ['Bimala' 46 'Jhapa']
 ['Dinesh' 52 'Dhankuta']]

In [10]:
#Create a dataframe from list of dictionaries

data = [
    {"Name":"Atish","Age":21,"City":"Kathmandu"},
    {"Name":"Arik","Age":21,"City":"Kathmandu"},
    {"Name":"Jenish","Age":21,"City":"Kathmandu"},
    {"Name":"Sabin","Age":21,"City":"Kathmandu"},
]
df1 = pd.DataFrame(data=data)
print(df1)

     Name  Age       City
0   Atish   21  Kathmandu
1    Arik   21  Kathmandu
2  Jenish   21  Kathmandu
3   Sabin   21  Kathmandu

In [ ]:
df = pd.read_csv("business.csv")
print(df.head(5))  #For printing first five data from the csv file

  Series_reference   Period  Data_value  Suppressed STATUS   UNITS  Magnitude  \
0      BDCQ.SEA1AA  2011.06       80078         NaN      F  Number          0
1      BDCQ.SEA1AA  2011.09       78324         NaN      F  Number          0
2      BDCQ.SEA1AA  2011.12       85850         NaN      F  Number          0
3      BDCQ.SEA1AA  2012.03       90743         NaN      F  Number          0
4      BDCQ.SEA1AA  2012.06       81780         NaN      F  Number          0

                          Subject                            Group  \
0  Business Data Collection - BDC  Industry by employment variable
1  Business Data Collection - BDC  Industry by employment variable
2  Business Data Collection - BDC  Industry by employment variable
3  Business Data Collection - BDC  Industry by employment variable
4  Business Data Collection - BDC  Industry by employment variable

  Series_title_1                     Series_title_2 Series_title_3  \
0    Filled jobs  Agriculture, Forestry and Fishing         Actual
1    Filled jobs  Agriculture, Forestry and Fishing         Actual
2    Filled jobs  Agriculture, Forestry and Fishing         Actual
3    Filled jobs  Agriculture, Forestry and Fishing         Actual
4    Filled jobs  Agriculture, Forestry and Fishing         Actual

   Series_title_4  Series_title_5
0             NaN             NaN
1             NaN             NaN
2             NaN             NaN
3             NaN             NaN
4             NaN             NaN

In [12]:
print(df.tail(6))          #Last six data of the csv file

   Series_reference   Period  Data_value  Suppressed STATUS   UNITS  \
24      BDCQ.SEA1AA  2017.06       90510         NaN      F  Number
25      BDCQ.SEA1AA  2017.09       87089         NaN      F  Number
26      BDCQ.SEA1AA  2017.12       98933         NaN      F  Number
27      BDCQ.SEA1AA  2018.03      101168         NaN      F  Number
28      BDCQ.SEA1AA  2018.06       90766         NaN      F  Number
29      BDCQ.SEA1AA  2018.09       86929         NaN      F  Number

    Magnitude                         Subject  \
24          0  Business Data Collection - BDC
25          0  Business Data Collection - BDC
26          0  Business Data Collection - BDC
27          0  Business Data Collection - BDC
28          0  Business Data Collection - BDC
29          0  Business Data Collection - BDC

                              Group Series_title_1  \
24  Industry by employment variable    Filled jobs
25  Industry by employment variable    Filled jobs
26  Industry by employment variable    Filled jobs
27  Industry by employment variable    Filled jobs
28  Industry by employment variable    Filled jobs
29  Industry by employment variable    Filled jobs

                       Series_title_2 Series_title_3  Series_title_4  \
24  Agriculture, Forestry and Fishing         Actual             NaN
25  Agriculture, Forestry and Fishing         Actual             NaN
26  Agriculture, Forestry and Fishing         Actual             NaN
27  Agriculture, Forestry and Fishing         Actual             NaN
28  Agriculture, Forestry and Fishing         Actual             NaN
29  Agriculture, Forestry and Fishing         Actual             NaN

    Series_title_5
24             NaN
25             NaN
26             NaN
27             NaN
28             NaN
29             NaN

In [17]:
#Accessing the data from the dataframe
print(df)
print(df["Age"])

     Name  Age       City
0   Atish   21  Kathmandu
1    Arik   21   Sindhuli
2  Bimala   46      Jhapa
3  Dinesh   52   Dhankuta
0    21
1    21
2    46
3    52
Name: Age, dtype: int64

In [39]:
#Accessing particular row and column of csv

print(df.loc[0])
print("\n\n")

print(df.iloc[0:2,0])

Name        Atish
Age            21
City    Kathmandu
Name: 0, dtype: object



0    Atish
1     Arik
Name: Name, dtype: object

In [3]:


df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['x', 'y', 'z'])
print(df)
print("\n\n")
    # Select row with label 'y' and column 'A'
print(df.loc['y'])
print("\n\n")
    # Select rows from 'x' to 'z' (inclusive) and all columns
print(df.loc['x':'z', "A"])
print("\n\n")
    # Select rows where column 'A' is greater than 1
print(df.loc[df['A'] > 1,"B" ])

print("\n\n")

# Select row at integer position 1 and column at integer position 0
print(df.iloc[0,1])

print("\n\n")
print(df.iloc[0:3,1])

print("\n\n")
print(df.loc["x","A"])

   A  B
x  1  4
y  2  5
z  3  6



A    2
B    5
Name: y, dtype: int64



x    1
y    2
z    3
Name: A, dtype: int64



y    5
z    6
Name: B, dtype: int64



4



x    4
y    5
z    6
Name: B, dtype: int64



1

In [45]:
#Accessing a specified element

print(df)
print("\n")
print(df.at[0,"City"])
print("\n")
print(df.at[2,"Name"])

     Name  Age       City
0   Atish   21  Kathmandu
1    Arik   21   Sindhuli
2  Bimala   46      Jhapa
3  Dinesh   52   Dhankuta


Kathmandu


Bimala

In [48]:
#Accessing a specified element using iat

print(df.iat[0,1])

print("\n")

print(df.iat[0, 2])

21


Kathmandu

In [50]:
#data manipulation with dataframes

df["Salary"] = [100000,90000,50000,60000]    #Adding a column
print(df)

df.drop("Salary", axis=1, inplace= True)  # Axis = 0 for row and axis = 1 for column ....  inplace = True for deleting permanently

print(df)

     Name  Age       City  Salary
0   Atish   21  Kathmandu  100000
1    Arik   21   Sindhuli   90000
2  Bimala   46      Jhapa   50000
3  Dinesh   52   Dhankuta   60000
     Name  Age       City
0   Atish   21  Kathmandu
1    Arik   21   Sindhuli
2  Bimala   46      Jhapa
3  Dinesh   52   Dhankuta

In [ ]:
#Adding age to the column

df["Age"] = df["Age"]+1
print(df)

     Name  Age       City
0   Atish   22  Kathmandu
1    Arik   22   Sindhuli
2  Bimala   47      Jhapa
3  Dinesh   53   Dhankuta

In [57]:

df.iat[1,0] = "Arika"
print(df)

     Name  Age       City
0   Atish   22  Kathmandu
1   Arika   22   Sindhuli
2  Bimala   47      Jhapa
3  Dinesh   53   Dhankuta

In [59]:
#Adding a row
df.loc[len(df)] = ["Jenish", 22, "Sunsari"]
print(df)

     Name  Age       City
0   Atish   22  Kathmandu
1   Arika   22   Sindhuli
2  Bimala   47      Jhapa
3  Dinesh   53   Dhankuta
4  Jenish   22    Sunsari

In [60]:
#Deleting a row
df.drop(4, inplace= True)
print(df)

     Name  Age       City
0   Atish   22  Kathmandu
1   Arika   22   Sindhuli
2  Bimala   47      Jhapa
3  Dinesh   53   Dhankuta

In [63]:
#To see the statistical summary using describe

print(df.describe())

             Age
count   4.000000
mean   36.000000
std    16.350331
min    22.000000
25%    22.000000
50%    34.500000
75%    48.500000
max    53.000000